/* STRICTLY FOR ANIMATIONS / EFFECTS WHEN A USER SCROLLS: */ 
    /* TODO: Need to review Intersection Observers: */
    .fade-in {
        opacity: 0;
        transition: opacity 350ms ease-in;
    }

    .fade-in.appear {
        opacity: 1;
    }

    .from-left {
        transform: translateX(-10%);
        transition: transform 300ms ease-in;
    }

    .from-right {
        transform: translateX(50%);
    }

    .from-left.appear, .from-right.appear {
        transform: translateX(0);
        opacity: 1;
    }

    .from-left, .from-right {
        transition: opacity 250ms ease-in, transform 300ms ease-in;
        opacity: 0;
    }

    