.right-arrow {
    position: absolute;
    top: 50%;
    right: 1px;
    font-size: 1.1rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 1px;
    font-size: 1.1rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.indicator {
    transition-duration: 1s ease;
}

.indicator.active {
    background: rgba(0, 0, 0,.75);
    transition-duration: 1s;
}